

/* Tableau pas de bordure */
table, tr, td, th
{
    border: none;
     
}


/* Defini les marges de chaque balise et donne une valeur de hauteur à la page */
html, body {
    padding:0;
    margin:0;
    height: 100%;
}

/* donne une valeur à n'importe quel écran à 100%  */
html{
    font-size: 100%;
}


/* ----------header----------- */


/* Donne une position à l'image avec Flex et static,float permet d'aligner un élément à droite de l'image, on lui attribut une largeur et "une hauteur maximum" */
#img{
    display: flex;
    position: static;
    float: left;
    width: 50%;
    max-height: 8%;    
}
#imgblock{
    display: flex;
    position: static;
    float: left;
    width: 50%;
    max-height: 8%;    
}


/* display permet de faire apparaitre le header sur la droite,fixer la position, largeur, hauteur, aligner le texte en haut centrer*/
header {
    display: inline-flex;
    position: relative; 
    width: 50%;
    height: 8%;
    align-items: flex-end;
    justify-content: center;
}


/* ----------header---------- */


/* ------------Menu-------------- */

/*  position/display permet de placer la barre noir du menu et d'aligner le li dans la barre, fond noir, toute la largeur et je defini la hauteur avec height*/
nav{
    position: relative;
    display: flex;
    background-color: black;
    width: 100%;
    height: 5%;
}
/* position du menu, display permet de mettre le menu en horizontale, taille police */
li{
    position: static;
    display: inline;
    font: 1em "Trebuchet MS",Arial,sans-serif ;
}
/* couleur du menu blanc */
a {
    color: #fff ;
}
/* definir la position,aligner le li dans la barre,fond noir,largeur et hauteur */
footer{
    position: absolute;
    display: flex;
    background-color: black;
    width: 100%;
    height: 5%;
    bottom: 0;
}
/* ------------Menu-------------- */



/* ----------Image Promotion----------- */

/* définir la largeur, et mettre en hauteur un maximum */
#promotion{
    width: 100%;
    max-height: 30%;
}

/* ----------Image Promotion----------- */




/* ---------------Colonnegauche------------- */

/* mettre un deroulant si le tableau depasse de la div, la position du tableau, permettre de mettre quelque chose sur la gauche,largeur et hauteur */
#colonnegauche{
    overflow: auto;
    position: relative;
    float: left;
    width: 80%;
    height: 55%;
}


/* ---------------Colonnegauche------------- */


/* ---------------Colonnedroite------------- */

/* position de la div, permettre d'avoir quelque chose sur la gauche,largeur, hauteur, couleur de fonds */
#colonnedroite{
    position: relative;
    float: right;
    width: 20%;
    height: 55%;
    background-color: gray;
}


/* ---------------Colonnedroite------------- */

/* -----------Tableau------------- */

/* la position du tableau, permettre de mettre quelque chose sur la gauche,largeur et hauteur */
table{
    position: relative;
    float: left;
    width: 80%;
    height: 55%;
}
/* hauteur des cellules */
table td{
    width: 5%;
}
/* taille maximum des image dans les cellules */
table img{
    width: 100%;
}


/* -----------Tableau------------- */








/* -------------media queries------------- */


@media screen and (max-width:768px){
    /* ------------Police--------------- */
    body{
        font-size: 18pt;
    }
    h1{
        font-size: 18pt;
    }
    /* -------------colonnes-------------- */
    /* déactiver la colonne */
    #colonnedroite{
        display: none;
    }
    /* Mettre la largeur a 100% et redimensionner la hauteur*/
    #colonnegauche{
        width: 100%;
        height: 63%;
    }
    /* -------------colonnes-------------- */
    /* -------------Menu Haut------------ */
    /* mettre le menu en horizontale et le margin sert à centrer  */
    li{
        display: table;
        margin: auto;   
    }
    /* sert a centrer le menu dans le nav */
    ul{
        flex: auto;
        margin: auto;
    }
    /* redimensionne la barre de menu du haut */
    nav {
        width: 100%;
        height: 10%;   
    }
    /* -------------Menu Haut------------ */
    /* redimensionne la barre de menu du bas */
    footer{
        width: 100%;
        height: 10%;  
    }
    /* redimensionne les cellules dans le tableau */
    table td{
        width: 3%;
    }
}

/* -------------media queries------------- */